# Gradle
.gradle/
build/
local.properties

# Kotlin / IDE
.idea/
*.iml
.kotlin/
captures/

# Android
*.apk
*.aab
*.keystore
.cxx/

# iOS / Xcode
*.xcodeproj
DerivedData/
Pods/

# Misc
.DS_Store
node_modules/
